<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Calculatrice
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="main">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="grand">
    <div class="calc-display">
      <ion-item class="item">
        <ion-label class="value">
          {{value}}
        </ion-label>
      </ion-item>
      <ion-item class="item">
        <ion-label color="danger"class="value">
          = {{cmp}}
        </ion-label>
      </ion-item>
    </div>
    <div class="enfin">
      <div class="buttom">
      <div *ngFor="let numberGroup of numberGroups">
        <ion-button class="calc-button" shape="round" color="dark" *ngFor="let num of numberGroup" (click)="onButtonPress(num)" >{{num}}
        </ion-button>
      </div>
      <ion-button class="egal"  color="light" (click)="onButtonPress('=')">=</ion-button>
    </div>
    </div>
  </div>
</ion-content>
